# vim:sw=4:ts=4:et:ft=nginx

server {
    listen 80;
    server_tokens off;
    root /var/www;

    location /nginx/reload {
        auth_basic 'Access restriction';
        auth_basic_user_file /tmp/.htpasswd;
        proxy_pass http://localhost:9000;
    }

    location / {
        root /var/www/public;
        try_files $uri $uri/ /index.html;
    }
}
